@import "c/cssLibrary";

.bgclass{
    background-color: var(--c-backgroungcolor);
}
.btnbg
{
    --slds-c-button-brand-color-background:white;
    --slds-c-button-brand-color-background-active:violet;
    --slds-c-button-brand-color-background-hover: red;
}